<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Chatbot</title>
</head>
<body>
<center>
    <h1 style="color: blue;">Welcome to My Chatbot</h1>
    <form action="/ask" method="get">
        {% if response %}
            Me: {{message}}
            <BR><BR>
            Bot: {{response}}
        {% else %}
            Bot: "Hello, I am Chatbot! What can I help?"
        {% endif %}
        <BR><BR>
        Me: <input type="text" name="message">
        <button type="submit">Send</button>
    </form>
</center>
</body>
</html>